body {
   padding-top: 60px;
}

.containerDiv {
   margin-top: 20px;
}

.weatherIcon {
   display: inline;
   margin-left: 0;
   margin-right: 10px;
   margin-bottom: -5px;
}

.hideBlock {
   display: none;
}

.displayBlock {
   display: block;
}

.clickable {
   cursor: pointer;
}
